
.App {
  text-align: center;
  background-color: slategrey;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 2vh 0vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  height: 85vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-Shadow: '1px 2px 9px #FFFFFF';
  margin: '4em';
  padding: '1em';
  height: auto;
  padding: 1vh;
}

.component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%
}

.component-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  width:100%
}

.textLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}